{{- define "tools" -}}{{- $root := . -}}
<a class="btn btn-primary" href="/admin/allegroitem/{{$root.Row.ID}}">
  {{ TranslateFor "edit_btn" $root.Prefix }}
</a>
<form method="POST" action="/admin/allegroitem/{{$root.Row.ID}}$delete">
  <input class="btn btn-danger" type="submit" value="{{TranslateFor "delete_btn" $root.Prefix}}" />
</form>

{{- end -}}